<!DOCTYPE html>
<html>
	<head>
		<style>
			table {
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<h1>Sort algorithms runtime in C</h1>
		
		Enter number: <input type="text" name="number_input" id="number_input_id" />
		<button id="submit_button_id" onclick="send_request()">Submit</button>
		
		<script>
			function send_request() {
				let input = document.getElementById('number_input_id');
				let radix_sort_runtime_id = document.getElementById('radix_sort_runtime_id');
				let merge_sort_runtime_id = document.getElementById('merge_sort_runtime_id');
				let quick_sort_runtime_id = document.getElementById('quick_sort_runtime_id');
				let bubble_sort_runtime_id = document.getElementById('bubble_sort_runtime_id');
				let selection_sort_runtime_id = document.getElementById('selection_sort_runtime_id');
				
				// fetch('localhost:8080/?' + new URLSearchParams({
				// 	n: 1000
				// }))
				fetch('http://localhost:8080/?' + new URLSearchParams({
				 	n: input.value
				}))
				.then(response => response.json())
				.then(data => {
					console.log(data);
					data = JSON.parse(data);
					
					radix_sort_runtime_id.innerHTML = data.radix_sort;
					merge_sort_runtime_id.innerHTML = data["merge_sort"];
					quick_sort_runtime_id.innerHTML = data["quick_sort"];
					bubble_sort_runtime_id.innerHTML = data["bubble_sort"];
					selection_sort_runtime_id.innerHTML = data["selection_sort"];
				});
				
				// radix_sort_runtime_id.innerHTML = "hello";
				// merge_sort_runtime_id.innerHTML = "1";
				// quick_sort_runtime_id.innerHTML = "2";
				// bubble_sort_runtime_id.innerHTML = "3.9";
				// selection_sort_runtime_id.innerHTML = "a1";
				//alert(input.value);
			}

			// let submit_btn = document.getElementById('submit_button_id');
			// submid_btn.onclick = send_request();
		</script>

		<br/>
		<br/>
		<br/>

		<table>
			<tr>
				<td><strong>Algorithm</strong></td>
				<td><strong>Runtime in seconds</strong></td>
			</tr>
			<tr>
				<td>Radix sort (O(nd))</td>
				<td id="radix_sort_runtime_id" align="right"></td>
			</tr>
			<tr>
				<td>Merge sort (nlog(n))</td>
				<td id="merge_sort_runtime_id" align="right"></td>
			</tr>
			<tr>
				<td>Quick sort (nlog(n))</td>
				<td id="quick_sort_runtime_id" align="right"></td>
			</tr>
			<tr>
				<td>Bubble sort (O(n^2))</td>
				<td id="bubble_sort_runtime_id" align="right"></td>
			</tr>
			<tr>
				<td>Selection sort (O(n^2))</td>
				<td id="selection_sort_runtime_id" align="right"></td>
			</tr>
		</table>
	</body>
</html>
